:root {
    --primary-color: #333533;
    --secondary-color: #F2F2F2;
    --accent1-color: #004477;
    --accent2-color: #6fffe9;

    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    background-color: var(--primary-color);
    column-gap: 10px;
    padding: 25px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

h1 {
    text-transform: uppercase;
    font-size: 22px;
    grid-column: 2/3;
    color: var(--accent2-color);
}

.navigation {
	list-style: none;
    width: 100%;
    background-color: ;
    margin-top: 10px;
    grid-column: 1/4;
    border-radius: 8px;
}

.navigation a {
	display: none;
	padding: 0.7rem;
	text-align: center;
	text-decoration: none;
    font-weight: 500;
    color: var(--accent2-color);
}

.open a {
	display: block;
}

.ezkLogo {
    display: none;
}

#menuButton {
	font-size: 1.5rem;
	border: 0;
	background: none;
}

#menuButton::before {
	content: "☰";
    color: var(--accent2-color);
    font-size: 1.5rem;
}

#menuButton.open::before {
    content: "X";
    color: var(--accent2-color);
    font-size: 1.5rem; 
}

footer {
    display: grid;
	justify-items: center;
	font-weight: 500;
    font-size: 15px;
    padding: 20px 0;
    row-gap: 10px;
	color:var(--primary-color);
    text-align: center;
    background-color: var(--accent2-color);
}

footer img {
    margin: 8px;
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {
    header {
        padding: 10px 50px;
        grid-template-columns: 180px auto 30px;
    }

    #menuButton {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: ;
        grid-column: 3/5;
    }

    .navigation a {
        display: block;
        padding: 0;
        font-size: 18px;
        text-transform: uppercase;
    }

    .navigation a:hover {
        color: black;
        text-decoration: underline;
    }

    .ezkLogo {
        width: 150px;
        height: auto;
    }

    h1 {
        font-size: 20px;
    }
}
