:root {
    --primary-color: #333533;
    --secondary-color: #F2F2F2;
    --accent1-color: #004477;
    --accent2-color: #6fffe9;

    --heading-font: "Montserrat", sans-serif;
    --paragraph-font: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header {
    display: grid;
    grid-template-columns: 100px auto 44px;
    background-color: var(--primary-color);
    padding: 15px;
    column-gap: 10px;
    align-items: center;
    align-content: center;
}

.ezkLogo {
    width: 110px;
}

h1 {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 12px;
    font-weight: 600;
    color: var(--accent2-color);
}

ul.navigation {
    padding: 10px;
    list-style-type: none;
}

nav {
    display: grid;
    grid-template-rows: 0;
    text-align: center;
    background-color: var(--primary-color);
}

nav ul {overflow: hidden;}

nav.open {
    grid-template-rows: 1fr;
    align-items: center;
    background-color: var(--primary-color);
}

ul.navigation li a {
	display: block;
	padding: .75rem 2vw;
	text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--secondary-color);
}

li.current-menu-item a {
    background-color: rgb(242, 242, 242, 0.2);
}

#menuButton {
    margin-top: 12px;
	font-size: 1.5rem;
	border: none;
	background: none;
    cursor: pointer;
}

#menuButton::before {
	content: "☰";
    color: var(--secondary-color);
    font-size: 1.8rem;
}

#menuButton.open::before {
    content: "X";
    color: var(--secondary-color);
    font-size: 1.8rem; 
}

footer {
    display: grid;
	justify-items: center;
	font-weight: 500;
    font-size: 15px;
    padding: 20px 0;
    row-gap: 10px;
	color:var(--primary-color);
    text-align: center;
    background-color: var(--accent2-color);
}

footer > img {
    width: 150px;
}

footer > p {
    font-size: 15px;
    padding: 2px 0;
}

footer div {
    display: flex;
    column-gap: 15px;
    padding: 2px 0;
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {
    header {
        padding: 10px 90px;
        grid-template-columns: 180px 350px auto;
        grid-template-rows: auto;
        align-items: end;
    }

    header h1 {
        font-size: 16px;
        margin-bottom: 18px;
    }

    #menuButton {
        display: none;
    }

    .ezkLogo {
        width: 180px;
    }

    nav {
        display: flex;
        justify-content: end;
        padding: 0 90px;
        grid-template-rows: 1fr;
        position: absolute;
        top: 40px;
        right: 10px;
        z-index: 1;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: end;
        column-gap: 50px;
    }

    .navigation a:hover {
        color: var(--primary-color);
        background-color: var(--accent2-color);
    }

    footer {
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-template-rows: 1fr auto;
        align-items: center;
        padding: 30px 50px;
    }

    footer > img {
        width: 200px;
    }

    .address {
        grid-column: 2/3;
        grid-row: 1/2;
        line-height: 2;
        font-size: 18px;
    }

    footer div {
        grid-column: 3/4;
        grid-row: 1/2;
        column-gap: 30px;
    }

    footer div img {
        width: 25px;
    }

    #footer {
        margin-top: 30px;
        grid-column: 2/3;
        grid-row: 2/3;
    }
}
