@import url(base.css);

main {
    background-color: var(--primary-color);
}

picture img, picture source {
    width: 100%;
}

.callToAction {
    display: grid;
    padding: 20px;
    justify-items: center;
    text-align: center;
    row-gap: 25px;
    color: var(--secondary-color);
    line-height: 1.5;
}

.callToAction h2 {
    font-size: 20px;
    font-weight: 300;
    font-family: var(--paragraph-font)
}

.callToAction span {
    font-weight: 600;
    font-size: 22px;
    color: var(--accent2-color);;
}

.contactButton {
    background-color: var(--accent2-color);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    font-family: var(--paragraph-font);
    border: none;
    text-decoration: none;
    color: var(--primary-color);
}

.featuredProducts {
    background-color: var(--secondary-color);
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 40px 8px;
}

.featuredContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
    padding-bottom: 20px;
}

.featuredContainer img {
    width: 100%;
    height: auto; 
    max-width: 280px; 
    border-radius: 8px;
}

.viewMoreButton {
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    font-family: var(--paragraph-font);
    border: none;
    text-decoration: none;
    color: var(--secondary-color);
}

.benefits {
    background-color: var(--secondary-color);
    display: grid;
    width: 100%;
    justify-items: center;
    text-align: center;
    row-gap: 25px;
    padding-bottom: 25px;
}

.benefits h2 {
    padding: 0 20px;
}

.benefits div h2 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.benefits div {
    display: grid;
    row-gap: 20px;
    justify-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 80%;
    padding: 20px;
}

.benefits button {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    width: 50%;
}

dialog {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog button {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 0.3rem 0.3rem;
    border: none;
    background: none;
    align-self: center;
    cursor: pointer;
}

dialog h2 {
    font-size: 16px;
    text-transform: uppercase;
}

.modal {
    display: none;
}

.modal.open {
    text-align: center;
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    padding: 20px;
    border: 1px solid var(--accent1-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    row-gap: 15px;
    line-height: 1.6;
}

.brands {
    display: grid;
    justify-items: center ;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary-color);
    padding: 20px;
}

.brands img {
    width: 100px;
}

@media screen and (min-width: 768px) and (max-width: 1499px) {
    .brands {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1920px) {
    main {
        background-color: var(--secondary-color);
    }

    .picture {
        position: relative;
    }

    .callToAction {
        position: absolute; 
        top: 25%;
        left: 5%;
        z-index: 10; 
        background-color: rgba(0, 0, 0, 0.5); 
        width: 500px;
        height: 300px;
        align-items: center;
        border-radius: 8px;
    }

    .callToAction h2 {
        font-size: 22px;
        font-weight: 300;
    }

    .contactButton:hover {
        background-color: var(--secondary-color);
    }

    .featuredProducts {
        row-gap: 50px;
        justify-items: center;
        padding: 40px 0;
        margin: 0 50px;
    }

    .featuredProducts h2 {
        font-size: 30px;
    }
    
    .featuredContainer {
        width: 100%;
        display: flex;
        padding: 0;
        column-gap: 50px;
        justify-content: center;
    }

    .featuredContainer img {
        max-width: 330px;
        transform: scale(1);
        transition: transform 0.6s;
    }

    .featuredContainer img:hover {
        transform: scale(1.05);
    }
    
    .viewMoreButton {
        font-size: 18px;
        transform: scale(1);
        transition: transform 0.6s;
    }

    .viewMoreButton:hover {
        transform: scale(1.05);
        background-color: var(--accent1-color);
    }


    .benefits {
        padding: 40px 0;
        width: 83%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 0;
    }

    .benefits h2 {
        font-size: 30px;
        padding-bottom: 20px;
        grid-column: 1/4;
    }

    .benefits div {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        width: 80%;
        padding: 20px;
    } 

    .benefits button {
        transform: scale(1);
        transition: transform 0.6s;
    }

    .benefits button:hover {
        transform: scale(1.05);
        background-color: var(--primary-color);
    }

    dialog button {
        display: inline-block;
        font-size: 25px;
        position: absolute;
        top: 33px;
        right: 20px;
        padding: 0.3rem 0.3rem;
        border: none;
        background: none;
        align-self: center;
        cursor: pointer;
    }
    
    dialog h2 {
        font-size: 22px;
    }

    .modal.open {
        font-size: 20px;
        width: 600px;
        padding: 35px;
        row-gap: 25px;
        font-weight: 300;
    }

    .brands {
        display: flex;
        justify-content: space-around;
        padding: 50px 150px;
    }
}
