@import url(base.css);

main {
    background-color: var(--primary-color);
}

.heroImage img {
    width : 100%;
}

.categoriesProducts {
    display: grid;
    row-gap: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 30px 8px 40px 8px;
}

.categoriesProducts h2 {
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary-color);
    text-transform: uppercase;
    text-align: center;
}

.category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
    column-gap: 15px;
    padding-bottom: 20px;
}

.category img {
    width: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(242, 242, 242, 0.6);
}

.category img.active {
    border: 1px solid var(--accent2-color);
    transform: scale(1.1);
}

.hidden {
    display: none;
}

.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    row-gap: 15px;
}

.product {
    margin: 10px;
    text-align: center;
}

.product img {
    width: 170px;
    cursor: pointer;
}

.product p {
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 14px;
    color: var(--secondary-color);
}

#currency-converter {
    width: 320px;
    height: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    font-family: "Montserrat", sans-serif;
    align-content: center;
}

#currency-converter h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 10px;  
}

#currency-converter label {
    display: block;
    margin-top: 10px;
}

#currency-converter input, 
#currency-converter select, 
#currency-converter button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

#currency-converter button {
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}